<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LoginMapper">
	<!-- isLogin -->
	<select id="login" parameterType="UsersVO" resultType="UsersVO">
		SELECT * FROM USERS_INFO WHERE EMAIL = #{email} and PASSWORD = #{password}
	</select>
</mapper>